@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}


@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

.items-list-page {
	-webkit-transform: translateX(-100%);
	-webkit-animation-name: slideouttoleft;
}

.categories-page {
	-webkit-transform: translateX(0);
	-webkit-animation-name: slideinfromleft;
}
