.b-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 20%;
	font: 14px/1.2 Arial, sans-serif;
}

.b-list__item {
	padding: 10px;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	cursor: pointer;
}

.b-list__item:hover,
.b-list__item_type_current {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
}

.b-list__item_type_current {
	cursor: default;
}