/* -------------------------------------------------- HEADER START --------------------------------------------------- */

.main-navigation .dropdown-toggle {
	margin-bottom: 0;
}

.header-logo {
	background-image: url('../img/logo.png');
}

.header-top-logo {
	background-image: url('../img/logo-icon.png');
}

/* -------------------------------------------------- HEADER END ----------------------------------------------------- */

/* -------------------------------------------------- INDEX PAGE START ----------------------------------------------- */

.index-form-search-curly {
	background-image: url('../img/curly.png');
}

.catalog-section {
  display: inline-block;
  width: 23%;
  vertical-align: top;
}

/* -------------------------------------------------- INDEX PAGE END ------------------------------------------------- */

