@import "_base";

/* ------------------------------------------------------ BASE STYLES START -------------------------------------------------- */

body {
  background: url('../img/bg.jpg');
  color: $brown;
  padding-top: 40px;
  font-size: 13px;
}

h1 {
  font-size: 44px;
  line-height: 1.2;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  margin-bottom: 30px;

  @include respond-to(medium-screen) {
    font-size: 36px;
  }
  @include respond-to(small-screen) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  margin: 0 0 15px;

  @include respond-to(medium-screen) {
    font-size: 24px;
  }
  @include respond-to(small-screen) {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  line-height: 1.3;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  margin: 0 0 20px;
}

ul, ol {
  list-style: none;
  margin: 0;
}

a:focus {
  outline: none;
}

a {
  text-decoration: underline;
}

a {
  color: inherit;
}

.container {
  padding: 0 30px;
  background-color: #ffffff;
}

.column {
  border-top: 4px solid #000000;
  padding-top: 20px;
  margin-bottom: 20px;
}

.action-link {
  border-bottom: 1px dotted;
  cursor: pointer;
}

.main {
  padding-bottom: 30px;
}

.page-sections {
  margin-bottom: 30px;
}

.price {
  white-space: nowrap;
}

.dot {
    border: 3px solid white;
    border-radius: 50px;
    font-size: 0;
    line-height: 1;
    vertical-align: middle;
    margin-right: 4px;
}

/* ------------------------------------------------------ BASE STYLES END ---------------------------------------------------- */

/* ------------------------------------------------------ HEADER START ------------------------------------------------------- */

.header-top {
  background: #55493f;
  @include background-image(linear-gradient(top, #55493f 0%, #40352c 85%));
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.header-top-logo {
  position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 30px;
  background: url('../img/logo-icon.svg') left bottom no-repeat;
  background-size: 38px;

  @include respond-to(medium-screen) {
    background-size: contain;
    background-position: center bottom;
    top: 15px;
    opacity: 0.2;
  }
}

.header {
  padding-top: 30px;
}

.header-logo {
  background: url('../img/logo.svg') left top no-repeat;

  @include respond-to(medium-screen) {
    width: 100%;
  }
}

.main-navigation {
  text-transform: uppercase;
  font-size: 12px;
}

.main-navigation-inner {
  background: none;
  box-shadow: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
  border: none;
  border-bottom: 4px solid $brown;

  @include respond-to(medium-screen) {
    border-bottom: none;
  }
}

.main-navigation .brand {
  padding: 0 20px 0 0;
  margin: 0;

  @include respond-to(medium-screen) {
    margin-bottom: 20px;
    padding-right: 0;
    float: none;
  }
}

.main-navigation .nav {
  margin: 0 0 -4px 0;

  @include respond-to(medium-screen) {
    margin: 0 0 0 -10px;
  }
}

.main-navigation .nav > li > a {
  padding: 6px 10px 0 10px;
  color: $brown;
  font-weight: bold;
  border-bottom: 4px solid $brown;
  text-shadow: none;

  @include respond-to(medium-screen) {
    border-bottom: none;
  }
}

.main-navigation .nav > li > a:focus,
.main-navigation .nav > li > a:hover,
.main-navigation .nav > .active > a,
.main-navigation .nav > .active > a:hover,
.main-navigation .nav > .active > a:focus,
.main-navigation .nav li.dropdown.active > .dropdown-toggle {
  color: $orange;
  box-shadow: none;
  background: none;
  border-bottom-color: $orange;
}

.main-navigation .nav li.dropdown.open > .dropdown-toggle,
.main-navigation .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;
  background: $orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.2);
}

.main-navigation .dropdown-menu {
  border-top-left-radius: 0;
  background: $orange;
  padding: 5px 0 10px;
  margin: 0;
  border: none;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.2);
}

.main-navigation .nav > li > .dropdown-menu:after,
.main-navigation .nav > li > .dropdown-menu:before {
  display: none;
}

.main-navigation .dropdown-menu a {
  padding: 3px 10px;
  text-decoration: underline;
  color: #fff;
}

.main-navigation .dropdown-menu li > a:hover,
.main-navigation .dropdown-menu li > a:focus,
.main-navigation .dropdown-submenu:hover > a {
  background: none;
  text-decoration: none;
}

.header-order-details {
  margin-bottom: 30px;

  @include respond-to(medium-screen) {
    margin-bottom: 30px;
  }
}

.header-order-details-column {
  @include respond-to(medium-screen) {
    margin-top: 15px;
  }
}

.header-order-details-column:first-child {
  @include respond-to(medium-screen) {
    margin-top: 0;
  }
}

.header-order-details-title {
  font-weight: bold;
}

.header-order-details-content {
  color: $brownlight;
}

/* ------------------------------------------------------ HEADER END --------------------------------------------------------- */

/* ------------------------------------------------------ INDEX PAGE START --------------------------------------------------- */

.promo {
  margin-bottom: 30px;
}

.promo-banner {
  overflow: hidden;

  @include respond-to(medium-screen) {
    margin-top: 30px;
  }
}

.promo-banner:first-child {
  @include respond-to(medium-screen) {
    margin-top: 0;
  }
}

.promo-banner-image {
  width: 100%;
}

.index-form-search {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 60px;

  @include respond-to(medium-screen) {
    margin-bottom: 40px;
    padding-top: 10px;
  }
}

.index-form-search-instruction {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-size: 18px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 31.623931623931625%;

  @include respond-to(large-screen) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.index-form-search-curly {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 65px;
  margin-left: 2.564102564102564%;
  background: url('../img/curly.svg') center center no-repeat;

  @include respond-to(large-screen) {
    display: none;
  }
}

input.index-form-search-input {
  width: 40.17094017094017%;
  margin-left: 2.564102564102564%;
  margin-bottom: 0;

  @include respond-to(large-screen) {
    margin-left: 0;
    width: 65.81196581196582%;
  }
}

.index-form-search-submit {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-weight: bold;
  font-style: italic;
  width: 14.52991452991453%;
  margin-left: 2.564102564102564%;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background: #E73B23;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #E73B23;
  padding: 4px 14px;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  position: relative;

  @include respond-to(large-screen) {
    color: #E73B23;
  }
}

.index-form-search-submit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
  display: none;

  @include respond-to(large-screen) {
    display: block;
  }
}

.catalog {
  @include column-width(150px);
  @include column-gap(10px);
}

.catalog-section {
  position: relative;
  margin: 0 0 15px;
}

.catalog-section-inner {
  width: 100%;
  display: inline-block;
}

.catalog-section-title {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: 10px;
}

.catalog-section-list {
  margin-left: 35px;
}

.catalog-section-list-item-new {
  color: $orange;
  font-weight: bold;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
}

.digest-section {
  margin-top: 15px;
  border-top: 1px dotted $brownlighter;
  padding-top: 15px;
}

.digest-section:first-child {
  margin-top: 0;
  padding-top: 0;
  border: none;
}

.digest-section-dishes-list,
.digest-section-ordered-list {
  color: $brownlighter;
}

.digest-section li {
  line-height: 1.4;
  margin-bottom: 10px;
}

.digest-section-places-list {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  color: $brownlight;

}

/* ------------------------------------------------------ INDEX PAGE END ----------------------------------------------------- */

.footer {
  padding-bottom: 30px;
}

.footer-left-column {
  text-align: right;
  @include respond-to(medium-screen) {
    text-align: left;
  }
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section-list {
  line-height: 1.8;
  color: $brownlighter;
}

.footer-section-list b {
  color: #000;
}

.footer-vcard {
  padding-bottom: 20px;
  border-bottom: 1px dotted $brownlighter;
}

.footer-phone {
  margin-bottom: 3px;
}

.footer-phone-title {
  margin-bottom: 5px;
}

.footer-phone-number {
  font-size: 18px;
  font-weight: bold;
}

.footer-navigation {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-copyright {
  padding-top: 15px;
  border-top: 1px dotted #8F7763;
  text-align: right;
  font-size: 11px;
}