@import "_base";

/* ------------------------------------------------------ BASE STYLES START -------------------------------------------------- */

body {
  background: url('../img/bg.jpg');
  color: $brown;
  padding-top: 40px;
  font-size: 13px;
}

h1 {
  font-size: 44px;
  line-height: 1.2;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  margin-bottom: 30px;

  @include respond-to(medium-screen) {
    font-size: 36px;
  }
  @include respond-to(small-screen) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  margin: 0 0 15px;

  @include respond-to(medium-screen) {
    font-size: 24px;
  }
  @include respond-to(small-screen) {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  line-height: 1.3;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  margin: 0 0 20px;
}

ul, ol {
  list-style: none;
  margin: 0;
}

a:focus {
  outline: none;
}

a {
  text-decoration: underline;
}

a {
  color: inherit;
}

.container {
  padding: 0 30px;
  background-color: #ffffff;
}

.column {
  border-top: 4px solid #000000;
  padding-top: 20px;
  margin-bottom: 20px;
}

.column_border-dotted {
    border-top: 2px dotted #B99F87;
}

.column_border-none {
    border: 0;
    padding-top: 24px;
}

.column_padding-none {
    padding-top: 0;
}

.action-link {
  border-bottom: 1px dotted;
  cursor: pointer;
}

.main {
  padding-bottom: 30px;
}

.page-sections {
  margin-bottom: 30px;
}

.price {
  white-space: nowrap;
}

.bullet {
    border: 3px solid white;
    border-radius: 50px;
    font-size: 0;
    line-height: 1;
    vertical-align: middle;
    margin-right: 4px;
}

.button {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: block;
    border-radius: 5px;
    padding: 1px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button_text-stylish {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.button_red {
    background: #E73B23;
}

.button_brown {
    background: #7B6350;
}

.button_dark-brown {
    background: #4A3E33;
}

.button_light-brown {
    background: #c6af99;
}

.column-list {
    @include column-width(180px);
    @include column-gap(15px);
}

.column-list_section {
    position: relative;
    padding: 0 0 15px;
}

.column-list_inner {
    width: 100%;
    display: inline-block;
}

.column-list_list li {
    width: 48%;
    display: inline-block;
}

.restaurant-stars span {
    width: 13px;
    height: 12px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.restaurant-stars_zero {
    background: url("../img/tmp/rest-star.png") no-repeat 0 0;
}

.restaurant-stars_point {
    background: url("../img/tmp/rest-star.png") no-repeat 0 -12px;
}

.restaurant-list__item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted $brownlighter;
}

.restaurant-list__item_promo .restaurant-list__item__content {
    position: relative;
    border-left: 5px solid #F4521A;
    padding: 15px 0 15px 15px;
}

.restaurant-list__item__content {
    padding: 0 0 0 5px;
}

.restaurant-list__item__basic {
    position: relative;
    margin-bottom: 35px;
}

.restaurant-list__item__basic__name {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.restaurant-list__item__basic__logo {
    position: absolute;
    top: -18px;
    right: 0;
    padding: 22px 0 0 20px;
}

.restaurant-list__item__basic__logo img {
    max-width: 140px;
    max-height: 60px;
}

.restaurant-stars {
    padding-top: 3px;
}

.restaurant-list__item_promo .restaurant-list__item__info {
    clear: both;
    margin-left: 0;
}

.restaurant-list__item__info li {
    margin-top: 5px;
}

.restaurant-list__item__info li:first-child {
    margin-top: 0;
}

.restaurant-list__item__info a, .restaurant-list__item__info span {
    color: $brownlighter;
}

.restaurant-list__item__image {
    overflow: hidden;
    padding-left: 2.564102564102564%;
    padding-top: 6px;
    
    @include respond-to(medium-screen) {
        padding: 15px 0 0 0;
    }
}

.restaurant-list__item__image img {
    display: block;
    margin-top: 10px;
    width: 100%;
}

.restaurant-list__item__image img:first-child {
    margin-top: 0;
}

.your-order {
    border: 0;
    width: 100%;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.your-order, .your-order__restaurant {
    background: #FFFFD0;
    text-align: left;
}

.your-order__restaurant {
    margin: 0;
    padding: 15px;
}

.your-order__restaurant h2 {
    margin: 0;
}

.your-order tr {
    vertical-align: top;
}

.your-order__item__index, .your-order__item__name, .your-order__item__price,  .your-order__item__delete, .your-order__item__change, .amount-counter {
    padding: 15px 0 15px 10px;
}

.your-order__item__delete {
    padding-right: 10px;
}

.your-order__item {
    border-bottom: 1px dotted #cccccc;
}

.your-order__item__index span{
    border: 1px solid #cccccc;
    background: white;
    padding: 3px 7px;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
}

.amount-counter {
    text-align: center;
}

.your-order__item__name p {
    margin: 0;
}

.your-order__item__addition {
    color: #795337;
    font-style: italic;
    margin: 0;
}

.your-order__item__delete span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #5d5043;
    border: 1px solid #5d5043;
    border-radius: 8px;
    padding: 1px 6px 0;
    line-height: 1.4;
}

.your-order__item__change .action-link {
    color: #5d5043;
}

.total-amount {
    margin: 30px 0;
    border-bottom: 1px dotted #4A3E33;
    font-size: 0;
}

.total-amount__total, .total-amount__price {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: -100%;
    font-size: 24px;
    font-family: 'Georgia', 'Times New Roman', sans-serif;
}

.total-amount__price {
    text-align: right;
}

.page-sections_receipt div, .connection-page div, .franchising-page div {
    margin-bottom: 30px;
}

.important-note {
    font-size: 24px;
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.3;
    margin: 0;
}

.footnote {
    font-size: 14px;
}

.main-note {
    font-size: 18px;
}

/* ------------------------------------------------------ BASE STYLES END ---------------------------------------------------- */

/* ------------------------------------------------------ HEADER START ------------------------------------------------------- */

.header-top {
  background: #55493f;
  @include background-image(linear-gradient(top, #55493f 0%, #40352c 85%));
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.header-top-logo {
  position: absolute;
  top: 0;
  left: 30px;
  bottom: 0;
  right: 30px;
  background: url('../img/logo-icon.svg') left bottom no-repeat;
  background-size: 38px;

  @include respond-to(medium-screen) {
    background-size: contain;
    background-position: center bottom;
    top: 15px;
    opacity: 0.2;
  }
}

.header {
  padding-top: 30px;
}

.header-logo {
  background: url('../img/logo.svg') left top no-repeat;

  @include respond-to(medium-screen) {
    width: 100%;
  }
}

.main-navigation {
  text-transform: uppercase;
  font-size: 12px;
}

.main-navigation-inner {
  background: none;
  box-shadow: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
  border: none;
  border-bottom: 4px solid $brown;

  @include respond-to(medium-screen) {
    border-bottom: none;
  }
}

.main-navigation .brand {
  padding: 0 20px 0 0;
  margin: 0;

  @include respond-to(medium-screen) {
    margin-bottom: 20px;
    padding-right: 0;
    float: none;
  }
}

.main-navigation .nav {
  margin: 0 0 -4px 0;

  @include respond-to(medium-screen) {
    margin: 0 0 0 -10px;
  }
}

.main-navigation .nav > li > a {
  padding: 6px 10px 0 10px;
  color: $brown;
  font-weight: bold;
  border-bottom: 4px solid $brown;
  text-shadow: none;

  @include respond-to(medium-screen) {
    border-bottom: none;
  }
}

.main-navigation .nav > li > a:focus,
.main-navigation .nav > li > a:hover,
.main-navigation .nav > .active > a,
.main-navigation .nav > .active > a:hover,
.main-navigation .nav > .active > a:focus,
.main-navigation .nav li.dropdown.active > .dropdown-toggle {
  color: $orange;
  box-shadow: none;
  background: none;
  border-bottom-color: $orange;
}

.main-navigation .nav li.dropdown.open > .dropdown-toggle,
.main-navigation .nav li.dropdown.open.active > .dropdown-toggle {
  color: #fff;
  background: $orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.2);
}

.main-navigation .dropdown-menu {
  border-top-left-radius: 0;
  background: $orange;
  padding: 5px 0 10px;
  margin: 0;
  border: none;
  box-shadow: 6px 6px 6px -3px rgba(0, 0, 0, 0.2);
}

.main-navigation .nav > li > .dropdown-menu:after,
.main-navigation .nav > li > .dropdown-menu:before {
  display: none;
}

.main-navigation .dropdown-menu a {
  padding: 3px 10px;
  text-decoration: underline;
  color: #fff;
}

.main-navigation .dropdown-menu li > a:hover,
.main-navigation .dropdown-menu li > a:focus,
.main-navigation .dropdown-submenu:hover > a {
  background: none;
  text-decoration: none;
}

.header-order-details {
  margin-bottom: 30px;

  @include respond-to(medium-screen) {
    margin-bottom: 30px;
  }
}

.header-order-details-column {
  @include respond-to(medium-screen) {
    margin-top: 15px;
  }
}

.header-order-details-column:first-child {
  @include respond-to(medium-screen) {
    margin-top: 0;
  }
}

.header-order-details-title {
  font-weight: bold;
}

.header-order-details-content {
  color: $brownlight;
}

/* ------------------------------------------------------ HEADER END --------------------------------------------------------- */

/* ------------------------------------------------------ INDEX PAGE START --------------------------------------------------- */

.promo {
  margin-bottom: 30px;
}

.promo-banner {
  overflow: hidden;

  @include respond-to(medium-screen) {
    margin-top: 30px;
  }
}

.promo-banner:first-child {
  @include respond-to(medium-screen) {
    margin-top: 0;
  }
}

.promo-banner-image {
  width: 100%;
}

.index-form-search {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 60px;

  @include respond-to(medium-screen) {
    margin-bottom: 40px;
    padding-top: 10px;
  }
}

.index-form-search-instruction {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-size: 18px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 31.623931623931625%;

  @include respond-to(large-screen) {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.index-form-search-curly {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 65px;
  margin-left: 2.564102564102564%;
  background: url('../img/curly.svg') center center no-repeat;

  @include respond-to(large-screen) {
    display: none;
  }
}

input.index-form-search-input {
  width: 40.17094017094017%;
  margin-left: 2.564102564102564%;
  margin-bottom: 0;

  @include respond-to(large-screen) {
    margin-left: 0;
    width: 65.81196581196582%;
  }
}

.index-form-search-submit {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-weight: bold;
  font-style: italic;
  width: 14.52991452991453%;
  margin-left: 2.564102564102564%;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background: #E73B23;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #E73B23;
  padding: 4px 14px;
  font-size: 20px;
  line-height: 20px;
  overflow: hidden;
  position: relative;

  @include respond-to(large-screen) {
    color: #E73B23;
  }
}

.index-form-search-submit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
  display: none;

  @include respond-to(large-screen) {
    display: block;
  }
}

.catalog {
  @include column-width(150px);
  @include column-gap(10px);
}

.catalog-section {
  position: relative;
  margin: 0 0 15px;
}

.catalog-section-inner {
  width: 100%;
  display: inline-block;
}

.catalog-section-title {
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: 10px;
}

.catalog-section-list {
  margin-left: 35px;
}

.catalog-section-list-item-new {
  color: $orange;
  font-weight: bold;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
}

.digest-section {
  margin-top: 15px;
  border-top: 1px dotted $brownlighter;
  padding-top: 15px;
}

.digest-section:first-child {
  margin-top: 0;
  padding-top: 0;
  border: none;
}

.digest-section-dishes-list,
.digest-section-ordered-list {
  color: $brownlighter;
}

.digest-section li {
  line-height: 1.4;
  margin-bottom: 10px;
}

.digest-section-places-list {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Georgia', 'Times New Roman', sans-serif;
  color: $brownlight;

}

/* ------------------------------------------------------ INDEX PAGE END ----------------------------------------------------- */

.footer {
  padding-bottom: 30px;
}

.footer-left-column {
  text-align: right;
  @include respond-to(medium-screen) {
    text-align: left;
  }
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section-list {
  line-height: 1.8;
  color: $brownlighter;
}

.footer-section-list b {
  color: #000;
}

.footer-vcard {
  padding-bottom: 20px;
  border-bottom: 1px dotted $brownlighter;
}

.footer-phone {
  margin-bottom: 3px;
}

.footer-phone-title {
  margin-bottom: 5px;
}

.footer-phone-number {
  font-size: 18px;
  font-weight: bold;
}

.footer-navigation {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-copyright {
  padding-top: 15px;
  border-top: 1px dotted #8F7763;
  text-align: right;
  font-size: 11px;
}