@import "_base";
@import "main";

/* ------------------------------------------------------ MAKINGORDER PAGE START --------------------------------------------------- */

.making-order__title {
    font-size: 0;
}

.making-order__title h1, .making-order__title a, .your-order__item_left-side, .your-order__item_right-side {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: -100%;
    
    @include respond-to(medium-screen) {
        display: block;
      }
    @include respond-to(small-screen) {
        display: block;
      }
}

.making-order__title a, .your-order__item_right-side {
    text-align: right;
    
    @include respond-to(medium-screen) {
        text-align: left;
      }
    @include respond-to(small-screen) {
        text-align: left;
      }
}

.back-to-menu_font {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
}

.making-order__image img {
    width: 100%;
    margin-top: 10px;
}

.making-order__image img:first-child {
    margin-top: 0;
}

table {
    border: 0;
    width: 100%;
}

table, caption {
    background: #FFFFD0;
    text-align: left;
}

caption h2 {
    margin: 0;
    padding: 15px;
}

tr {
    vertical-align: top;
}

td {
    padding: 0 0 15px 10px;
    @include respond-to(medium-screen) {
        border: none;
        position: relative;
        padding-left: 15px;
    }
}

td:before {
    @include respond-to(medium-screen) {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
}

table, thead, tbody, th, td, tr { 
    @include respond-to(medium-screen) {
        display: block; 
    }
}

.your-order__item {
    border-bottom: 1px dotted #cccccc;
}

.your-order__item__index {
    border: 1px solid #cccccc;
    background: white;
    padding: 3px 7px;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
}

.your-order__item__menu-item {
    margin: 0;
}

.your-order__item__menu-item__addition {
    color: #795337;
    font-style: italic;
    margin: 0;
}

.your-order__item__menu-item__delete {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #5d5043;
    border: 1px solid #5d5043;
    border-radius: 8px;
    padding: 1px 6px 0;
    line-height: 1.4;
}

.your-order .action-link {
    color: #5d5043;
}

.delivery-details__address span {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
}

.delivery-details__contact__form input, 
.delivery-details__contact__form textarea {
    width: 96%;
    border-radius: 0;
}

.required2 {
    color: #F4521A;
}

label {
    color: #4A3E33;
}

.caption {
    position: relative;
    top: -10px;
    color: #7B6350;
}

.delivery-details__sum span {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 18px;
}

.delivery-details__sum__total-amount {
    margin: 30px 0;
    border-bottom: 1px dotted #4A3E33;
    font-size: 0;
}

.delivery-details__sum__total-amount .total, 
.delivery-details__sum__total-amount .price, {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: -100%;
    font-size: 24px;
}

.delivery-details__sum__total-amount .price {
    text-align: right;
}

.delivery-details .button_size {
    width: 40%;
}