@import "_base";
@import "main";

/* ------------------------------------------------------ INDEX PAGE START --------------------------------------------------- */

.promo-banner-main-full {
    margin-bottom: 30px;
}

.restaurant-list {
    margin-bottom: 100px;
}

.restaurant-list__item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dotted $brownlighter;
}

.restaurant-list__item_promo .restaurant-list__item__content {
    position: relative;
    border-left: 5px solid #F4521A;
}

.restaurant-list__item__corporate-identity {
    position: relative;
    padding: 0 0 0 5px;
}

.restaurant-list__item_promo .restaurant-list__item__corporate-identity {
    padding: 10px 0 0 15px;
}

.restaurant-list__item__corporate-identity li {
    white-space: nowrap;
}

.restaurant-list__item__corporate-identity__name a {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.restaurant-list__item__corporate-identity__logo {
    position: absolute;
    top: -18px;
    right: 0;
    padding: 24px 0 0 20px;
}

.restaurant-list__item_promo .restaurant-list__item__corporate-identity__logo {
    top: -11px;
}

.restaurant-list__item__corporate-identity__logo a {
    display: block;
    position: relative;
}

.restaurant-list__item__corporate-identity__logo img {
    max-width: 140px;
    max-height: 60px;
}

.restaurant-list__item__corporate-identity__stars {
    padding-top: 3px;
}

.restaurant-list__item__corporate-identity__stars span {
    width: 13px;
    height: 12px;
    position: relative;
    display: inline-block;
}

.restaurant-list__item__corporate-identity__stars_zero {
    background: url("../img/tmp/rest-star.png") no-repeat 0 0;
}

.restaurant-list__item__corporate-identity__stars_point {
    background: url("../img/tmp/rest-star.png") no-repeat 0 -12px;
}

.restaurant-list__item_promo .restaurant-list__item__operating-conditions {
    clear: both;
    padding: 0 0 10px 15px;
    margin-left: 0;
}

.restaurant-list__item_promo .restaurant-list__item__operating-conditions__delivery {
    padding: 10px 0 0 0;
}

.restaurant-list__item_promo .restaurant-list__item__operating-conditions__delivery {
    padding: 30px 0 0 0;
}

.restaurant-list__item__operating-conditions__open-hours {
    padding: 5px 0 0 0;
}

.restaurant-list__item__kitchen-list {
    padding: 5px 0 0 0;
}

.restaurant-list__item__kitchen-list a, 
.restaurant-list__item__operating-conditions__open-hours span, 
.restaurant-list__item__operating-conditions__delivery-cost {
    color: $brownlighter;
    line-height: 1.8;
}

.restaurant-list__item__promo-banner {
    margin-top: -38px;
    @include respond-to(medium-screen) {
        margin-top: 15px;
      }
}

.restaurant-list__item__promo-banner_half-size:first-child {
    margin-bottom: 10px;
}

.button {
    margin-bottom: 10px;
}

.button a {
    text-decoration: none;
    display: block;
    position: relative;
    border-radius: 7px;
}

.button a:hover {
    color: white;
}

.button-brown {
    background: #c6af99;
}

.button-text {
    font-family: 'Georgia', 'Times New Roman', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}

.show-all-items {
    padding: 1px 10px;
    width: 19%;
}

.choose-kitchen-area {
    @include column-width(130px);
    @include column-gap(10px);
}

.choose-kitchen-area-section {
    position: relative;
}

.choose-kitchen-area-section-inner {
    display: inline-block;
    width: 100%;
}

.choose-kitchen-area a {
    color: $brownlighter;
    border-bottom: 1px dotted;
    text-decoration: none;
}