@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/ptn57f_w.eot');
	src: local('PT Sans Narrow'),
		 url('../fonts/PTN57F_W.woff') format('woff'),
		 url('../fonts/PTN57F_W.ttf') format('truetype'),
		 url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold; 
	src: url('../fonts/ptn77f_w.eot');
	src: local('PT Sans Narrow Bold'),
		 url('../fonts/PTN77F_W.woff') format('woff'),
		 url('../fonts/PTN77F_W.ttf') format('truetype'),
		 url('../fonts/PTN77F_W.svg#PTSans-NarrowBold') format('svg');
}