.golden-border {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4b464', endColorstr='#fbedba',GradientType=1 );
}

.button_standard {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#9f9f9f',GradientType=0 );
}

.header__box__bg_ie {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff',GradientType=0 );
}

.categories-menu__bg_ie, .side-menu__bg_ie {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dcdfe2',GradientType=0 );
}

.main-menu__bg_ie {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eedec7', endColorstr='#b48e5a',GradientType=0 );
}

.catalog__item__info__bg {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
}

.btn {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}