html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -150px;
}

body {
	background: #f5f2ee;
	min-width: 1020px;
}

.golden-border {
	background: #d4b464;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0YjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZWRiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGI0NjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, #d4b464 0%, #fbedba 50%, #d4b464 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d4b464), color-stop(50%,#fbedba), color-stop(100%,#d4b464));
	background: -webkit-linear-gradient(left, #d4b464 0%,#fbedba 50%,#d4b464 100%);
	background: -o-linear-gradient(left, #d4b464 0%,#fbedba 50%,#d4b464 100%);
	background: -ms-linear-gradient(left, #d4b464 0%,#fbedba 50%,#d4b464 100%);
	background: linear-gradient(left, #d4b464 0%,#fbedba 50%,#d4b464 100%);
	border-bottom: 1px solid #ebe5d5;
	background-size: 50% 100%;
	height: 8px;
}

.header__inner, .main__inner, .footer__inner {
	margin: auto;
	width: 1000px;
}

a {
	color: inherit;
}

.action-link {
	display: inline-block;
	border-bottom: 1px dotted;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	line-height: 1;
}

.page-content {
	padding: 15px;
	background-color: #fff;
	border-radius: 10px;
	margin-bottom: 10px;
	min-height: 290px;
	position: relative;
}

.lk-invite-button {
	text-align: right;
}

.info-block {
	margin-bottom: 10px;
}

.info-block__inner {
	border: 1px solid #fff;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}

.info-block__header {
	background-color: #ecdbc3;
	font-weight: bold;
	padding: 8px 10px;
}

.info-block__header__icon {
	float: right;
}

.info-block__header__icon > img {
	display: block;
}

.info-block__header_centered {
	text-align: center;
}

.info-block__content {
	padding: 10px;
	min-height: 30px;
}

.info-block__contacts td,
.info-block__contacts th {
	padding: 10px;
	vertical-align: top;
	text-align: left;
	border-left: 1px solid #ecdbc3;
}

.info-block__contacts th {
	white-space: nowrap;
	padding-bottom: 0;
}

.info-block__contacts td:first-child,
.info-block__contacts th:first-child {
	border-left: none;
}

.info-block__comments__textarea {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100px;
}

.info-block__comments__button {
	margin-top: 10px;
}

/* ----------------------------------------------------- TABLES START ----------------------------------------------- */

.table_standard {
    width: 100%;
    text-align: center;
	margin-bottom: 15px;
}

.table_standard td, .table_standard th {
    padding: 8px 5px;
    border: 1px solid #b4b4b4;
    border-right: none;
    word-wrap: break-word;
}

.table_standard td:first-child, .table_standard th:first-child {
    border-left: none;
}

.table_standard thead tr:first-child th {
    border-top: none;
}

.table_standard tbody td {
    text-transform: uppercase;
}

.table_standard tbody tr:last-child td {
    border-bottom: none;
}

.table_standard tfoot td {
    border: none;
    background-color: #e0ddd9;
}

.table_standard tfoot td:first-child {
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table_standard tfoot td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* to provide highest priority without !important */
.table_standard tr > td.table-separator {
    background: none;
    border: none;
    padding: 0;
    height: 10px;
}

.cell_left-aligned {
	text-align: left;
}

.history-table td,
.history-table th {
	padding: 10px 20px;
}

.history-table td:first-child {
	text-align: left;
}

.units-row {
    white-space: nowrap;
}

.table-link_orange {
    color: #ef7f1a;
}


/* ----------------------------------------------------- TABLES END ------------------------------------------------- */

/* ----------------------------------------------------- HEADER START ----------------------------------------------- */

header {
	background: #200302 url('../img/header-bg.png') repeat-x left top;
}

.header__logo {
	width: 407px; height: 191px;
	position: absolute; left: 10px; bottom: 0;
	background: url('../img/header-logo.png');
}

.header__logo__coming-soon {
	width: 104px; height: 65px;
	background-image: url('../img/promo-text.png');
	position: absolute; left: 168px; top: 19px;
	z-index: 100;
}

.header__inner {
	min-height: 180px;
	position: relative;
	padding: 15px 0;
}

.header__right {
	float: right;
	position: relative;
	padding-right: 10px;
}

.header__right_logged-in {
	width: 400px;
}

.header__form {
	margin-bottom: 15px;
}

.header__form_logged-in {
	color: #fff;
	overflow: hidden;
	padding-left: 10px;
}

.header__form_logged-in__greeting {
	margin-bottom: 10px;
}

.header__form_login {
	font-size: 0;
}

.header__form__button_exit {
	float: right;
}

.header__form__button_enter {
	vertical-align: top;
}

.header__form_login__field {
	display: inline-block;
	font-size: 12px;
	margin-right: 5px;
}

.header__reg-link, .header__forgot-password-link {
	color: #ffffff;
	display: block;
	margin-top: 5px;
}

.header__box {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	position: relative;
	margin-bottom: 15px;
	color: #fff;
	min-height: 80px;
}

.header__box__content {
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.header__box_points > .header__box__content {
	padding: 30px;
}

.header__box_hidden {
	visibility: hidden;
}

.header__social__title {
	color: #ffffff;
	font-size: 12px;
	width: 140px;
	float: left;
}

.header__social__buttons {
	float: right;
}

.header__social__button {
	background-image: url('../img/social-buttons.png');
	display: inline-block;
	margin-left: 8px;
	width: 35px;
	height: 35px;
}

.header__social__button_fb { background-position: 0 0; }
.header__social__button_vk { background-position: -42px 0; }
.header__social__button_tw { background-position: -85px 0; }
.header__social__button_mail { background-position: -127px 0; }
.header__social__button_ok { background-position: -168px 0; }

.header__box_points__link {
	font-size: 18px;
	color: #e4d0b5;
	margin-left: 5px;
}

.header__city {
	color: #fff;
	padding-left: 15px;
}

.header__city__select {
	width: 220px;
	float: right;
}

.header__city__icon {
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -3px;
}

.header__city__text {
	vertical-align: middle;
}

/* ----------------------------------------------------- HEADER END ------------------------------------------------- */

/* ----------------------------------------------------- CONTENT START ---------------------------------------------- */

.main {
	background: #9c9084 url('../img/main-bg.png') repeat-x left top;
}

.main__inner {
	padding: 10px;
}

.main__header, .main__content {
	padding: 10px;
	background-color: #e0ddd9;
	border-radius: 5px;
}

.main__header {
	margin-bottom: 10px;
}

.main__header__banner {
	margin-bottom: 10px;
	display: block;
}

.main__header__banner__image {
	display: block;
	border: 0 none;
}

.categories-menu__item__category, .categories-menu__item__quantity {
	display: inline-block;
	margin-right: -100%;
	width: 100%;
	color: #000000;
	position: relative;
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 12px;
}

.categories-menu__item__quantity {
	text-align: right;
	color: #8f857a;
}

.categories-menu {
	margin-top: -4px;
	font-size: 0;
}

.categories-menu li {
	display: inline;
}

.categories-menu a {
	width: 92px; height: 20px;
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	border: 1px solid #c1c0bc;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 5px;
	margin-top: 4px;
	text-align: left;
	position: relative;

	background: #fdfdfd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #dcdfe2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dcdfe2));
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	background: linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
}

.categories-menu .categories-menu__item__category,
.categories-menu .categories-menu__item__quantity {
	font-size: 12px;
}

.side-menu {
	position: relative;
}

.side-menu ul {
	background: #fdfdfd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fdfdfd 0%, #dcdfe2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#dcdfe2));
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	background: linear-gradient(top, #fdfdfd 0%,#dcdfe2 100%);
	border: 1px solid #c1c0bc;
	border-radius: 5px;
	padding: 6px 15px 6px 10px;
	position: relative;
}

.side-menu > ul > li:first-child,
.side-menu > ul > li:first-child a {
	border: none;
}

.side-menu li {
	border-top: 1px solid #b4b4b4;
}

.side-menu a {
	display: block;
	border-top: 1px solid #ffffff;
	font-family: "PT Sans Narrow", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 4px 4px 4px 15px;
	font-size: 0;
	position: relative;
}

.side-menu__item__text {
	font-size: 13px;
	position: relative;
	display: inline-block;
	color: #000000;
}

.side-menu__item__triangle {
	width: 0; height: 0;
	border-top: 4px solid transparent;
	border-left: 4px solid #000;
	border-bottom: 4px solid transparent;
	position: absolute;
	left: -15px; top: 50%;
	margin-top: -4px;
}

.side-menu .categories-menu__item__category,
.side-menu .categories-menu__item__quantity {
	font-size: 13px;
}

.side-menu__item__triangle.opened {
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top: 4px solid #000;
	margin-top: -2px;
}

.side-menu ul ul {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	display: none;
}

.side-menu__item.opened > ul {
	display: block;
}

.side-menu__item.selected > a > .side-menu__item__text {
	color: #d18f33;
}

.side-menu ul ul a {
	padding-left: 30px;
}

.side-menu ul ul ul a {
	padding-left: 45px;
}

.main-menu {
	border-top: 1px solid #a1855d;
	border-left: 1px solid #a1855d;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;

	background: #eedec7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZGVjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNDhlNWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eedec7 0%, #b48e5a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eedec7), color-stop(100%,#b48e5a));
	background: -webkit-linear-gradient(top, #eedec7 0%,#b48e5a 100%);
	background: -o-linear-gradient(top, #eedec7 0%,#b48e5a 100%);
	background: -ms-linear-gradient(top, #eedec7 0%,#b48e5a 100%);
	background: linear-gradient(top, #eedec7 0%,#b48e5a 100%);
}

.main-menu ul {
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}

.main-menu li {
	float: left;
	clear: right;
	width: 20%;
}

.main-menu li:first-child a,
.main-menu li:first-child span {
	border: none;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

.main-menu li:last-child a,
.main-menu li:last-child span {
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.main-menu a {
	display: block;
	text-decoration: none;
	border-left: 1px solid #a1855d;
	color: #2d2723;
}

.main-menu a:hover,
.main-menu__item.selected a {
	background-color: #93795d;
	color: #ffffff;
}

.main-menu span {
	display: block;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-family: "PT Sans Narrow", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	border-left: 1px solid #ffffff;
}

/* ----------------------------------------------------- catalog start ---------------------------------------------- */

.catalog__item {
	margin-bottom: 10px;
}

.catalog__item_rounded > .catalog__item__inner {
	border-radius: 10px;
}

.catalog__item__inner {
	font-size: 12px;
	padding: 10px;
	height: 290px;
	border: 5px solid #fff;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

.catalog__item__inner:hover {
	border-color: #93795d;
}

.catalog__item__content {
	position: relative;
}

.catalog__item__image {
	width: 100%;
	margin: auto;
	display: block;
}

.catalog__item__label {
	background-image: url('../img/label.png');
	width: 89px; height: 55px;
	position: absolute; right: -8px; top: -20px;
	text-align: center;
	color: #58422a;
	font-size: 24px;
	font-family: "PT Sans Narrow", sans-serif;
}

.catalog__item__label__text {
	padding: 3px 0 0 6px;
}

.catalog__item__look {
	background-image: url('../img/eye.png');
	width: 44px; height: 27px;
	position: absolute; top: 0; left: 0;
    cursor: pointer;
}

.catalog__item__look_disabled {
	background-image: url('../img/eye-disabled.png');
}

.catalog__item__info {
	width: 100%;
	padding-top: 5px;
	position: absolute; bottom: 0; left: 0;
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 12px;
}

.catalog__item__info__table {
	position: relative; z-index: 1;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

.catalog__item__info__table td {
	padding-bottom: 4px;
	vertical-align: top;
}

.catalog__item__info__bought__title,
.catalog__item__info__bonus,
.catalog__item__info__left__title,
.catalog__item__info__offer-ended {
	color: #58422a;
	margin-bottom: 4px;
}

.catalog__item__info__offer-ended {
	line-height: 1.2;
}

.catalog__item__info__in-rubbles__title,
.catalog__item__info__no-discount__title,
.catalog__item__info__in-points__title {
	color: #7c7c7c;
	margin-bottom: 2px;
}

.catalog__item__info__bought__number,
.catalog__item__info__left__number {
	padding: 5px;
	border-radius: 5px;
	background-color: #6c6c6a;
	min-width: 30px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	display: inline-block;
}

.catalog__item__info__bonus__number {
	font-weight: bold;
	color: #8b2d0f;
}

.catalog__item__info__in-rubbles__number {
	color: #67a185;
	font-weight: bold;
}

.catalog__item__info__no-discount__number {
	color: #b0b0b0;
	font-weight: bold;
	text-decoration: line-through;
}

.catalog__item__info__in-points__number {
	color: #df6740;
	font-weight: bold;
}

.catalog__item__info__time__text {
	vertical-align: middle;
}

.catalog__item__info__time__icon {
	vertical-align: middle;
	margin-right: 5px;
}

.catalog__item__info__bg {
	position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;
	background: #fff;
	opacity: 0.9;
}

.catalog__item__title {
	font-size: 14px;
	font-family: "PT Sans Narrow", sans-serif;
	color: #58422a;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.catalog__separator {
	height: 1px;
	background-color: #93795d;
	border-bottom: 1px solid #f7f6f5;
	margin-bottom: 10px;
	clear: both;
}

.catalog__section__title__text {
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #93795d;
	padding: 8px 15px;
	min-width: 160px;
	display: inline-block;
	font-family: "PT Sans Narrow", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
}

/* ----------------------------------------------------- catalog end ------------------------------------------------ */

/* ----------------------------------------------------- about pages start ------------------------------------------ */

.vacancies-list {
	margin-bottom: 30px;
}

.vacancy__title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 14px;
}

.vacancy__description {
	margin: 0 0 20px 20px;
}

.vacancy__description__item {
	margin-bottom: 10px;
}

.vacancy__description__item__title {
	font-weight: bold;
}

div.vacancy__description__item__title {
	margin-bottom: 5px;
}

div.vacancy__description__item__content {
	padding-left: 10px;
}

.vacancy__form__row {
	margin-bottom: 15px;
}

.vacancy__resume {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 340px;
}

/* overriding bootstrap styles */
input.vacancy__email,
select.vacancy__position {
	margin-right: 20px;
}

/* ----------------------------------------------------- about pages end -------------------------------------------- */

/* ----------------------------------------------------- profile start ---------------------------------------------- */

.invite-friend-page {
	padding: 15px;
	text-transform: uppercase;
	line-height: 1.4;
}

.invite-friend-page__header {
	font-size: 13px;
}

.invite-friend-page__link {
	font-weight: bold;
	font-style: italic;
}

.invite-friend-page__form {
	margin-top: 20px;
}

.invite-friend-page__form__button {
	margin-right: 10px;
}

/* ----------------------------------------------------- profile end ------------------------------------------------ */

/* ----------------------------------------------------- buy points start ------------------------------------------- */

.buy-points__control__slider__range .ui-slider-handle.ui-state-default,
.buy-points__control__slider__range .ui-slider-handle.ui-state-hover,
.buy-points__control__slider__range .ui-slider-handle.ui-state-active {
	border: 5px solid #fff;
	background: #93795d;
	border-radius: 50px;
}

.buy-points__control__slider__range.ui-slider-horizontal .ui-slider-handle {
	top: -8px;
	margin-left: -15px;
}

.buy-points__control__slider__range.ui-slider .ui-slider-handle {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.buy-points__control__slider__range .ui-slider-range {
	background: #ecdbc3;
	border: none;
	border-radius: 0;
}

.buy-points__control__slider__range.ui-slider {
	background: #93795d;
	border: none;
	border-radius: 0;
	height: 14px;
}

.buy-points__control__field {
	text-align: center;
}

.buy-points__control__field_money {
	float: left;
	margin-right: 8px;
}

.buy-points__control__field_points {
	float: right;
	margin-left: 8px;
}

input.buy-points__control__field__input {
	margin-bottom: 5px;
	text-align: center;
}

.buy-points__control__slider {
	overflow: hidden;
	padding: 8px 12px;
	position: relative;
}

.buy-points__control__slider__arrow {
	width: 0;
	height: 0;
	cursor: pointer;
	position: absolute; top: 8px;
}

.buy-points__control__slider__arrow_left {
	left: 0;
	border-top: 7px solid transparent;
	border-right: 10px solid #ecdbc3;
	border-bottom: 7px solid transparent;
}

.buy-points__control__slider__arrow_right {
	right: 0;
	border-top: 7px solid transparent;
	border-left: 10px solid #93795d;
	border-bottom: 7px solid transparent;
}

.buy-points__balance {
	padding: 8px;
	width: 60%;
	text-align: center;
	margin: auto;
	font-weight: bold;
	background-color: #efeeec;
	border-radius: 5px;
}

.buy-points__balance > div {
	margin-top: 5px;
}

.buy-points__balance > div:first-child {
	margin-top: 0;
}

.buy-points__info-sign {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #d4ba96;
	position: absolute; top: 22px; right: 22px;
	font-size: 26px;
	border-radius: 35px;
	font-family: 'PT Sans Narrow', sans-serif;
}

.buy-points__offer-price,
.buy-points__offer-reward {
	min-height: 20px;
	padding: 11px 0;
	text-align: center;
	line-height: 1.6;
}

.buy-points__button {
	text-align: center;
	margin-bottom: 18px;
}

.buy-points__text {
	margin: auto;
	text-transform: uppercase;
	text-align: center;
	width: 80%;
	line-height: 2;
	margin-bottom: 30px;
}

.buy-points__social {
	margin: auto;
	position: relative;
	text-align: center;
}

.buy-points__social__like-button {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

.buy-points__social__follow-button {
	display: inline-block;
   	border: 1px solid #93795d;
	background-color: #ecdbc3;
	color: #93795d;
	font-size: 11px;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;
	vertical-align: middle;
	padding: 1px 25px;
	line-height: 20px;
	margin: 0 5px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);;
}

/* ----------------------------------------------------- buy points end --------------------------------------------- */

/* ----------------------------------------------------- CONTENT END ------------------------------------------------ */

/* ----------------------------------------------------- FOOTER START ----------------------------------------------- */

footer, .footer-offset {
	height: 150px;
}

footer {
	background: #2c080a url('../img/footer-bg.png') repeat-x left bottom;
}

.footer__inner {
	padding: 20px 0 0;
	position: relative;
	overflow: hidden;
}

.footer__columns {
	float: right;
	position: relative;
	left: -50%;
}

.footer__columns__inner {
	position: relative;
	left: 50%;
	overflow: hidden;
}

.footer__column {
	min-height: 90px;
}

.footer__column:last-child {
	text-align: right;
}

.footer__column__title {
	font-weight: bold;
	color: #dedede;
	margin-bottom: 8px;
}

.footer__menu a {
	color: #dedede;
}

.footer__menu > li {
	margin-bottom: 4px;
}

.footer__contact-info {
	color: #dedede;
}

.footer__invite-friend__link {
	color: #dedede;
}

.footer__copyright {
	position: absolute;
	bottom: 0; right: 0;
	color: #a4958f;
}

/* ----------------------------------------------------- FOOTER END ------------------------------------------------- */