/* -------------------------------------------------- RESET START --------------------------------------------------- */

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

/* -------------------------------------------------- RESET END ----------------------------------------------------- */

/* -------------------------------------------------- SHOP START ---------------------------------------------------- */

.sales {
	padding: 4px;
	font-size: 0;
}

.sale {
	display: inline-block;
	width: 50%;
}

.sale:nth-child(odd) .sale-content {
	padding-left: 2px;
}

.sale:nth-child(even) .sale-content {
	padding-right: 2px;
}

.sale-title {
	font-size: 9px;
	color: #333;
	text-decoration: none;
	display: block;
}

.sale-image {
	width: 100%;
	display: block;
}

.sales-section-header {
	font-size: 16px;
	color: #B2B2B2;
}