/* ------------------------------------------------------ HEADER START ------------------------------------------------------- */

.main-navigation-inner {
	filter: none;
}

.main-navigation .dropdown-toggle {
	margin-bottom: 0;
}

.header-logo {
	display: none;
}

.header-logo-ie {
	background: url('../img/logo.png');
	width: 222px;
	height: 22px;
}

/* ------------------------------------------------------ HEADER END --------------------------------------------------------- */

