body {
	background-color: #32261d;
	padding-top: 40px;
	font-size: 13px;
}

h1 {
	font-size: 44px;
	line-height: 1.1;
	font-family: 'Georgia', 'Times New Roman', sans-serif;
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
	line-height: 1.1;
	font-family: 'Georgia', 'Times New Roman', sans-serif;
	margin-bottom: 30px;
}

.container {
	padding: 0 30px;
	background-color: #ffffff;
}

.header-top {
	background: #55493f;
	background: -moz-linear-gradient(top, #55493f 0%, #40352c 85%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55493f), color-stop(85%,#40352c));
	background: -webkit-linear-gradient(top, #55493f 0%,#40352c 85%);
	background: -o-linear-gradient(top, #55493f 0%,#40352c 85%);
	background: -ms-linear-gradient(top, #55493f 0%,#40352c 85%);
	background: linear-gradient(to bottom, #55493f 0%,#40352c 85%);
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: #ffffff;
}

.column {
	border-top: 4px solid #000000;
	padding-top: 15px;
}

.promo {
	margin-bottom: 30px;
}

.promo-banner {
	overflow: hidden;
}

.promo-banner-image {
	width: 100%;
}