@media (max-width: 979px) {

	.index-form-search-curly {
		display: none;
	}

	.index-form-search-instruction {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	input.index-form-search-input {
		margin-left: 0;
		width: 65.81196581196582%;
	}

	.index-form-search-submit {
		color: #E73B23;
	}

	.index-form-search-submit-icon {
		display: block;
	}
}

@media (max-width: 767px) {

	/* -------------------------------------------------- BASE STYLES START -------------------------------------------------- */

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
	}

	/* -------------------------------------------------- BASE STYLES END ---------------------------------------------------- */

	/* -------------------------------------------------- HEADER START ------------------------------------------------------- */

	.header-logo {
		width: 100%;
	}

	.header-top-logo {
		background-size: contain;
		background-position: center bottom;
		top: 15px;
		opacity: 0.2;
	}

	.main-navigation-inner {
		border-bottom: none;
	}

	.main-navigation .brand {
		margin-bottom: 20px;
		padding-right: 0;
		float: none;
	}

	.main-navigation .nav {
		margin: 0 0 0 -10px;
	}

	.main-navigation .nav > li > a {
		border-bottom: none;
	}

	.header-order-details {
		margin-bottom: 30px;
	}

	.header-order-details-column {
		margin-top: 15px;
	}

	.header-order-details-column:first-child {
		margin-top: 0;
	}

	/* -------------------------------------------------- HEADER END --------------------------------------------------------- */

	/* -------------------------------------------------- INDEX PAGE START --------------------------------------------------- */

	.index-form-search {
		margin-bottom: 40px;
		padding-top: 10px;
	}

	.promo-banner {
		margin-top: 30px;
	}

	.promo-banner:first-child {
		margin-top: 0;
	}

	/* -------------------------------------------------- INDEX PAGE END ----------------------------------------------------- */
}

@media (max-width : 460px) {

	/* -------------------------------------------------- BASE STYLES START -------------------------------------------------- */

	h1 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 18px;
	}

	/* -------------------------------------------------- BASE STYLES END ---------------------------------------------------- */

}