@media (max-width: 979px) {
	.header-top-logo {
		background-size: contain;
		background-position: center bottom;
		top: 15px;
		opacity: 0.2;
	}
}

@media (max-width: 767px) {

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 24px;
	}

	.header-logo {
		width: 100%;
	}

	.main-navigation-inner {
		border-bottom: none;
	}

	.main-navigation .brand {
		margin-bottom: 20px;
		padding-right: 0;
		float: none;
	}

	.main-navigation .nav {
		margin: 0 0 0 -10px;
	}

	.main-navigation .nav > li > a {
		border-bottom: none;
	}

	.header-order-details-column {
		margin-bottom: 15px;
	}

	.promo-banner {
		margin-top: 30px;
	}

	.promo-banner:first-child {
		margin-top: 0;
	}
}

@media (max-width : 460px) {

	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 18px;
	}

}